.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 1rem 0 2rem;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.text-block h2 {
    font-size: 1.7rem;
    font-weight: 700;
    color: var(--main-text-color);
    margin: 0;
}

.text-block p {
    font-size: 1rem;
    color: var(--secondary-text-color);
    margin: 0.25rem 0 0;
}

.actions {
    display: flex;
    gap: 0.5rem;
}

.stat-card.red {
    border-color: var(--main-red-color);
    background: var(--red-bg-color);
}
.stat-card.blue {
    border-color: var(--main-blue-color);
}
.stat-card.green {
    border-color: var(--main-green-color);
}

.value-highlight.good {
    color: var(--main-green-color);
}

.value-highlight.warning {
    color: var(--main-yellow-color);
}

.value-highlight.blueText {
    color: var(--main-blue-color);
}

.stats-list .stat-card {
    background: var(--main-bg-color);
    padding: 2rem;
}